
<mat-card class="example-card" appearance="outlined">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>Multistrike Trade Journal</mat-card-title>
      <mat-card-subtitle>Version: Toy</mat-card-subtitle>
    </mat-card-header>
    <div style="text-align: center">
        <img mat-card-image
            src="https://cdn.discordapp.com/attachments/1143730276699209852/1259336136950808627/charlesdellinger.eth_an_open_book_that_projects_the_hologram_of_5bf927e9-4c8e-4a08-b123-e7a2bf5afaec.png?ex=668b4fac&is=6689fe2c&hm=06d23b7c8c2c15526f3da733c4ece310e23eddc01596d40755b79fae12e645f3&"
            alt="Photo of a Cat Hologram on a Journal"
            width="30%"
            height="30%"
        >
    </div>
    <mat-card-content>
      <p>
        <br>
        <b>This is the toy version.</b>
        <br> <br>
        This is a trading journal for equities, foreign exchange, and cryptocurrencies. The goal is to track trade ideas and their outcomes.
         A trade idea is an instance of the execution of a trade setup, allowing multiple attempts with multiple entries and exits per attempt.
        <br> <br>
        The Dashboard hasn't been implemented yet. It will have cards with summaries and graphs of trade ideas outcomes.
         The page is  <a routerLink="/dashboard">there</a>, but it is currently just empyt frames. 
        <br> <br>
        This is being built using Angular and Angular Material, which is new to me, so it's a taking a bit longer than expected.
        <br> <br>
        Feel free to drop some feedback on <a href="https://x.com/gte539z/status/1809791436294066272">Twitter</a>.
      </p>
    </mat-card-content>
  </mat-card>